{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<br>
<h1 align="center" class="display-6" style="font-family:Comic Sans MS">Add a Note!</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">{{ note.data }}
        <button type="button" class="close" onclick="deleteNote({{ note.id }})">
            <span align="center" aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <br>
    <textarea name="note" id="note" class="form-control form-control-glow"></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{% endblock %}
