{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<br>
<!-- Heading to add a note -->
<h1 align="center" class="display-6" style="font-family: 'Helvetica Neue', 'Helvetica', 'Times New Roman'">Welcome <span style="color:rgb(99, 216, 255)">{{user.first_name}}</span>, add a note!</h1>
<!-- List to display notes -->
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <!-- Individual note item -->
    <li class="list-group-item">{{ note.data }}
        <!-- Button to delete note -->
        <button type="button" class="close" onclick="deleteNote({{ note.id }})">
            <span align="center" aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<!-- Form to add a new note -->
<form method="POST">
    <br>
    <!-- Textarea for entering note content -->
    <textarea name="note" id="note" class="form-control form-control-glow"></textarea>
    <br>
    <!-- Submit button for adding note -->
    <div align="left">
        <button type="submit" class="btn btn-primary" name="add_note">Add Note</button>
    </div>
    <br>
    <div align="left">
        <button type="submit" class="btn btn-primary" name="export_note">Export</button>
    </div>
</form>
{% endblock %}