{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}
<!-- Login form -->
<form method="POST">
    <br>
    <h3 align="center">Login</h3>
    <!-- Email input field -->
    <div class="form-group">
        <label for="email">Email Address</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Enter email" 
        required
        />
    </div>
    <!-- Password input field -->
    <div class="form-group">
        <label for="password">Password</label>
        <input 
        type="password" 
        class="form-control" 
        id="password" 
        name="password" 
        placeholder="Enter password" 
        required
        />
    </div>
    <br>
    <!-- Submit button -->
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>

{% endblock %}